@font-face {
    src: url("ARCADECLASSIC.TTF");
}
.root{
    -fx-background-color: black;
}
.label{
    -fx-font-family: ArcadeClassic;
    -fx-font-size: 60;
}
.button{
    -fx-background-color: black;
    -fx-font-family: ArcadeClassic;
    -fx-font-size: 20;
}
