.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.854980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.926758;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-741.665059px;}
._1{width:826.559311px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(30,30,30);}
.fs3{font-size:36.000000px;}
.fs1{font-size:56.000000px;}
.fs0{font-size:96.000000px;}
.fs2{font-size:120.000000px;}
.y0{bottom:0.000000px;}
.y13{bottom:28.986791px;}
.y12{bottom:54.081673px;}
.y11{bottom:83.365120px;}
.y7{bottom:107.590851px;}
.y6{bottom:141.190849px;}
.y10{bottom:143.709633px;}
.yb{bottom:147.184708px;}
.y5{bottom:157.990845px;}
.ya{bottom:163.984703px;}
.y9{bottom:180.784706px;}
.y4{bottom:191.590843px;}
.yf{bottom:206.058060px;}
.y8{bottom:214.384710px;}
.y3{bottom:225.190847px;}
.yd{bottom:229.397427px;}
.yc{bottom:265.397427px;}
.y2{bottom:276.058958px;}
.ye{bottom:277.397427px;}
.y1{bottom:364.580545px;}
.h4{height:26.208984px;}
.h2{height:37.324219px;}
.h1{height:63.984375px;}
.h3{height:79.980469px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x6{left:105.012772px;}
.xd{left:112.200775px;}
.x5{left:113.414131px;}
.xc{left:124.200783px;}
.x3{left:155.420967px;}
.x4{left:163.822334px;}
.x7{left:176.424385px;}
.x1{left:200.049225px;}
.x12{left:266.791351px;}
.xe{left:341.793243px;}
.xf{left:346.517731px;}
.x10{left:349.566925px;}
.x2{left:422.307014px;}
.xb{left:424.761810px;}
.x11{left:429.212616px;}
.xa{left:437.363869px;}
.x9{left:445.765236px;}
.x8{left:465.367283px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-988.886745pt;}
._1{width:1102.079081pt;}
.fs3{font-size:48.000000pt;}
.fs1{font-size:74.666667pt;}
.fs0{font-size:128.000000pt;}
.fs2{font-size:160.000000pt;}
.y0{bottom:0.000000pt;}
.y13{bottom:38.649054pt;}
.y12{bottom:72.108897pt;}
.y11{bottom:111.153493pt;}
.y7{bottom:143.454468pt;}
.y6{bottom:188.254466pt;}
.y10{bottom:191.612844pt;}
.yb{bottom:196.246277pt;}
.y5{bottom:210.654460pt;}
.ya{bottom:218.646271pt;}
.y9{bottom:241.046275pt;}
.y4{bottom:255.454458pt;}
.yf{bottom:274.744080pt;}
.y8{bottom:285.846280pt;}
.y3{bottom:300.254463pt;}
.yd{bottom:305.863235pt;}
.yc{bottom:353.863235pt;}
.y2{bottom:368.078611pt;}
.ye{bottom:369.863235pt;}
.y1{bottom:486.107394pt;}
.h4{height:34.945312pt;}
.h2{height:49.765625pt;}
.h1{height:85.312500pt;}
.h3{height:106.640625pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x6{left:140.017029pt;}
.xd{left:149.601034pt;}
.x5{left:151.218842pt;}
.xc{left:165.601044pt;}
.x3{left:207.227956pt;}
.x4{left:218.429779pt;}
.x7{left:235.232513pt;}
.x1{left:266.732300pt;}
.x12{left:355.721802pt;}
.xe{left:455.724325pt;}
.xf{left:462.023641pt;}
.x10{left:466.089233pt;}
.x2{left:563.076019pt;}
.xb{left:566.349080pt;}
.x11{left:572.283488pt;}
.xa{left:583.151825pt;}
.x9{left:594.353648pt;}
.x8{left:620.489710pt;}
}
